.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.carousel-item{
    height: 400px;
    width: 400px;
}

.favorite-prodcut-image{
    height: 330px;
    width: 300px;
}