.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.carousel-item{
    height: 400px;
    width: 400px;
}

.content{
    background-color: #ffffff;
    border-radius: 20px;
}