body {
  padding-top: 0;
}

#about-container{
	width:100%;
	background-color:black;
}

.navbar {
    position: fixed;
    width: 100%;
    opacity: 0;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


.jumbotron {
  position: relative;
  background: #000 url('../res/pozaTop.jpg') center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.drop-shadow{
  -webkit-filter: drop-shadow(30px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 768px) {

  .section-white {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .container {
    max-width: 90%;
  }

}




